<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hochschule_trier.tourenapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_HQzp30vSsYVRS2MlqUo3qrSdywC4tx4" />

        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DatabaseActivity"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />

        <activity android:name=".CreateNewTourActivity" />

        <activity android:name=".RecordTourActivity" />

        <activity android:name=".MapsActivity" />

        <activity
            android:name=".TourDetailActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />

        <activity
            android:name=".CommentActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".StationActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />

        <service android:name=".GPSService" />

    </application>

</manifest>